.btn-cart {
    position: relative;
    &:hover {
        background-color: $info;
    }
    .badge {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.btn-icon:hover {
    background-color: #17a2b8;
    color: #fff !important;
}
.btn.disabled {
    pointer-events: none;
}
.likeBtn {
    width: 23px;
    height: 23px;
    position: absolute;
    overflow: hidden;
    top: 15px;
    right: 15px;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    .fa-heart {
        font-size: 20px;
    }
}