.jumbotron-content{
background-color: #607d8b91;
color: theme-color("soft");
}

.section-img {
    min-height: 300px;
    @include media-breakpoint-up(md) {
        margin-top: -20px;
    }
}
.section-title {
    margin-top: 20px;
    margin-bottom: -20px;
    background-color: rgba(theme-color("soft"), 0.5);
}
.section-content {
    max-height: 460px;
    line-height: 2.5;
    letter-spacing: 5px;
    background-color: rgba(theme-color("soft"), 0.5);
}
.marquee-section{
    overflow: hidden;
    height: 25px;
    @media (max-width: 568px) {
    height: 45px;
    }
}
.marquee-title{
    box-shadow: 0 -5px 0 #00bcd4 inset;

}